@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-sans text-[1.0625rem] leading-relaxed text-black bg-white antialiased;
  }
}
